@import "tailwindcss";

html{
  scroll-behavior: smooth;
  background-color: black;
}
.logo {
  color: #facc15;
  transition: color 0.3s ease;
}

.logo:hover {
  color: #ef4444;
}


.block-background__video--fixed {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 0;
  
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
}

span{
           font-family: "Bebas Neue", sans-serif;
          font-size:150px;
          font-weight: bold;
} 

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
}

/* .blob {
  width: 300px;
  height: 200px;
  background: linear-gradient(135deg, #ff7ad9, #7afcff);
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2rem;
  font-weight: bold;
  cursor: pointer;
  transform-origin: center;
  will-change: transform;
} */



